@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 96%; 
    --foreground: 240 10% 10%; 
    --card: 240 10% 96%;
    --card-foreground: 240 10% 10%;
    --popover: 240 10% 96%;
    --popover-foreground: 240 10% 10%;
    --primary: 220 70% 45%; 
    --primary-foreground: 0 0% 98%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 220 70% 45%;
    --muted: 240 20% 80%;
    --muted-foreground: 240 10% 40%;
    --accent: 220 70% 50%; 
    --accent-foreground: 0 0% 98%;
    --destructive: 0 75% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 70%;
    --input: 240 20% 70%;
    --ring: 220 70% 45%;
    --chart-1: 220 70% 50%; 
    --chart-2: 160 60% 50%; 
    --chart-3: 40 90% 55%;  
    --chart-4: 280 65% 55%; 
    --chart-5: 350 75% 60%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  
  .dark {
    --background: 240 10% 10%; 
    --foreground: 0 0% 98%;
    --card: 240 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 70% 55%; 
    --primary-foreground: 0 0% 98%;
    --secondary: 240 15% 20%;
    --secondary-foreground: 220 70% 55%;
    --muted: 240 15% 25%;
    --muted-foreground: 240 10% 65%;
    --accent: 220 70% 60%; 
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 25%;
    --input: 240 20% 25%;
    --ring: 220 70% 55%;
    --chart-1: 220 70% 60%;
    --chart-2: 160 60% 50%; 
    --chart-3: 40 90% 60%;  
    --chart-4: 280 65% 60%; 
    --chart-5: 350 75% 60%; 
    --sidebar-background: 240 5.9% 10%; 
    --sidebar-foreground: 240 4.8% 95.9%; 
    --sidebar-primary: 224.3 76.3% 48%; 
    --sidebar-primary-foreground: 0 0% 100%; 
    --sidebar-accent: 240 3.7% 15.9%; 
    --sidebar-accent-foreground: 240 4.8% 95.9%; 
    --sidebar-border: 240 3.7% 15.9%; 
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
